/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.04em;
}

.background {
  background-image: url("https://images.unsplash.com/photo-1464618663641-bbdd760ae84a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8d2Vic2l0ZSUyMGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60");
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 100dvh;
  padding: 15px;
  padding-top: 100px;
}

.background .box {
  width: 767px;
  height: 75%;
  border-radius: 4px;
  border: 2px solid #ffffff;
  margin: 0 auto;
  overflow-y: auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 15px;

  background: linear-gradient(
    0deg,
    rgb(163, 206, 255) 0%,
    rgb(211, 232, 255) 100%
  );
  box-shadow: rgba(79, 156, 232, 0.7019607843) 3px 3px 5px 0px,
    rgba(79, 156, 232, 0.7019607843) 5px 5px 20px 0px;
}

/* media query on box */
@media (max-width: 768px) {
  .background .box {
    width: 100%;
  }
}

/* customizing scroll of box */
.background .box::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.background .box::-webkit-scrollbar-thumb {
  background-color: #ff0d00;
  border-radius: 4px;
}

.background .box::-webkit-scrollbar-thumb:hover {
  background-color: #2fa5ed;
}

.background .box::-webkit-scrollbar-track {
  background-color: #e1e1e1;
}

.background .box::-webkit-scrollbar-track:hover {
  background-color: #c1c1c1;
}

/* city search form */
.form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  align-items: center;
  position: relative;
  background: linear-gradient(
    135deg,
    rgb(179, 208, 253) 0%,
    rgb(164, 202, 248) 100%
  );
  border-radius: 1000px;
  padding: 10px;
  display: grid;
  place-content: center;
  z-index: 0;
  max-width: 400px;
  margin: 0 10px;
}

.search-container {
  width: 380px;
  position: relative;
  border-radius: 50px;
  background: linear-gradient(
    135deg,
    rgb(218, 232, 247) 0%,
    rgb(214, 229, 247) 100%
  );
  padding: 5px;
  display: flex;
  align-items: center;
}

.search-container::after,
.search-container::before {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: inherit;
  position: absolute;
}

.search-container::before {
  top: -1px;
  left: -1px;
  background: linear-gradient(
    0deg,
    rgb(218, 232, 247) 0%,
    rgb(255, 255, 255) 100%
  );
  z-index: -1;
}

.search-container::after {
  bottom: -1px;
  right: -1px;
  background: linear-gradient(
    0deg,
    rgb(163, 206, 255) 0%,
    rgb(211, 232, 255) 100%
  );
  box-shadow: rgba(79, 156, 232, 0.7019607843) 3px 3px 5px 0px,
    rgba(79, 156, 232, 0.7019607843) 5px 5px 20px 0px;
  z-index: -2;
}

.input {
  padding: 10px;
  padding-left: 25px;
  width: 100%;
  background: linear-gradient(
    135deg,
    rgb(218, 232, 247) 0%,
    rgb(214, 229, 247) 100%
  );
  border: none;
  color: #455c72;

  font-size: 20px;
  border-radius: 50px;
}

.input:focus {
  outline: none;
  background: linear-gradient(
    135deg,
    rgb(239, 247, 255) 0%,
    rgb(214, 229, 247) 100%
  );
}

.search__icon {
  width: 50px;
  border-left: 2px solid white;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-radius: 50%;
  padding-left: 12px;
  margin-right: 10px;
}

.search__icon:hover {
  border-left: 3px solid white;
}

.search__icon path {
  fill: white;
}

/* current weather details box */
.box .current-weather-details-box {
  width: 100%;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 4px;
  padding: 15px;
}

/* header */
.current-weather-details-box .details-box-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.details-box-header h4 {
  color: #a09aa0;
}

/* switch */
.details-box-header .switch {
  width: 80px;
  height: 32px;
  background-color: #2fa5ed;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 4px;
  border-radius: 4px;
  position: relative;
}

.switch .switch-toggle {
  width: 50%;
  height: 100%;
  background-color: #fff;
  border-radius: 4px;
  transition: all 0.3s;
}

.switch span {
  position: absolute;
  top: 7px;
  color: #fff;
}

.switch span.c {
  left: 8px;
}

.switch span.f {
  right: 8px;
}

.switch-toggle.c {
  transform: translateX(0);
}

.switch-toggle.f {
  transform: translateX(100%);
}

/* loader */
.loader {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

/* error */
.error-msg {
  width: 100%;
  background-color: #f8d7da;
  font-size: 12px;
  color: #721c24;
  border-color: #f5c6cb;
  padding: 0.75rem 1.25rem;
  margin-top: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

/* weather details container */
.current-weather-details-box .weather-details-container {
  width: 100%;
  margin-top: 15px;
  padding: 15px;
  display: flex;
}

/* details and merices */
.weather-details-container .details,
.weather-details-container .metrices {
  flex: 1;
}

.weather-details-container .details {
  border-right: 1px solid #a09aa0;
}

.weather-details-container .metrices {
  padding-left: 15px;
}

@media (max-width: 768px) {
  .current-weather-details-box .weather-details-container {
    flex-direction: column;
  }

  .weather-details-container .details,
  .weather-details-container .metrices {
    width: 100%;
  }

  .weather-details-container .details {
    border-right: none;
    border-bottom: 1px solid #a09aa0;
    padding-bottom: 15px;
  }

  .weather-details-container .metrices {
    padding-left: 0;
    padding-top: 15px;
  }
}

/* details children */
.weather-details-container .details .city-name {
  color: #2fa5ed;
}

.weather-details-container .details .icon-and-temp {
  display: flex;
  align-items: center;
}

.icon-and-temp h1 {
  color: #2fa5ed;
  font-size: 56px;
}

.weather-details-container .details .description {
  color: #a09aa0;
}

/* metrices children */
.weather-details-container .metrices h4 {
  color: #2fa5ed;
  margin-left: 4px;
  margin-bottom: 25px;
}

/* key value box */
.weather-details-container .metrices .key-value-box {
  width: 100%;
  display: flex;
  margin-top: 15px;
}

.key-value-box .key,
.key-value-box .value {
  flex: 1;
}

.key .icon {
  color: #a09aa0;
}

.key .value {
  color: #2fa5ed;
}

.key span {
  color: #a09aa0;
  margin-left: 15px;
}

.value span {
  color: #2fa5ed;
}

/* extended-forecasts */
.extended-forecast-heading {
  color: #a09aa0;
  margin-top: 25px;
}

.extended-forecasts-container {
  margin-top: 15px;
  display: flex;
}

.extended-forecasts-container .forecast-box {
  width: calc(20% - 10px);
  height: 120px;
  border-radius: 4px;
  background-color: #2fa5ed;
  color: #fff;
  margin-right: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .extended-forecasts-container {
    flex-direction: column;
  }

  .extended-forecasts-container .forecast-box {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }
}

.forecast-box .min-max-temp {
  margin-top: 5px;
  font-weight: 500;
}
